.home .card,
.contributors.list .card,
.blog.list .card {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  transition: transform 0.2s;
}

.card {
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,0.1),0 0px 0 1px rgba(10,10,10,0.02);
}

.home .card:hover,
.contributors.list .card:hover,
.blog.list .card:hover {
  transform: scale(1.025);
}

.home .card-body,
.contributors.list .card-body,
.blog.list .card-body {
  padding: 0 2rem 1rem;
}

.blog-header {
  text-align: center;
  margin-bottom: 2rem;
}

.blog-footer {
  text-align: center;
}
